@model Reserva_Restaurantes.Models.Pagamento

@{
    ViewData["Title"] = "Criar Pagamento";
}

<h1>Criar Pagamento</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Metodo"></label>
        <select asp-for="Metodo" class="form-control" asp-items="ViewBag.MetodosPagamento"></select>
        <span asp-validation-for="Metodo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Estado"></label>
        <select asp-for="Estado" class="form-control" asp-items="ViewBag.EstadosPagamento"></select>
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReservasFK">Reserva</label>
        <select asp-for="ReservasFK" class="form-control" asp-items="ViewBag.Reservas"></select>
        <span asp-validation-for="ReservasFK" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Criar</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
