@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Este projeto foi feito no IPT pelos alunos: Martim Santos - nº24235 e Diogo Moinhá - nº23040.</p>
<p>Eles têm acesso a qualquer dados que sejam inseridos na utilização deste programa.</p> 
<p>Os dados não seram utilizados para meios monetários, mas seram utilizados para meios educacionais.</p>